@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
}

@theme {
  --color-*: initial;
  --color-white: #FEFCFF;
  --color-black: #000000;
  --color-transparent: transparent;
  --color-darkblue: #090A12;
}

body {
  background: #090A12;
  color: var(--color-white);
  font-family: var(--font-sans);
}

/* :root {
  --gobal-ui-rotation: rotate3d(0, 0, 1, 20deg);
}

.ui-rotate {
 transform: var(--gobal-ui-rotation);
}  */

:root {
  --ui-azimuth: 0deg;
  --ui-polar: 0deg;
}

.ui-rotate {
  /* Note: The order of rotation functions matters */
  transform: rotateY(var(--ui-azimuth)) rotateX(var(--ui-polar));
}